<div class="content">
            <h1>Booking Confirmed!</h1>
            <p>We are pleased to confirm your booking for Raj Adhyayan as per the following details:</p>
            <div class="details">
            <table border = "1" >
                <tr><th>BookingId</th><th>Adhyayan Name</th><th>Speaker</th><th>Start Date</th><th>End Date</th>
                <th>Status</th></tr>
                {{rajAdhyanContent}}

            </table>    
            </div>
            <p><a href='http://datachef.in/sratrc/rajsharan/guidelines/rc_guidelines.pdf' target='_blank'>Please Click Here to Read</a> the guidelines for your stay at Research Center We hope you have a spiritually blissful stay.</p>
            <p>If you have any questions or need further assistance, please feel free to contact us at <b>7875432613 / 9004273512</b></p>
            <div class="note">
                <p><strong>Please note:</strong> The shibir committee reserves the right to cancel your booking within 7 days if you do not meet the shibir criteria.</p>
            </div>
        </div>