 <div class="content"></div>
            <h1>Travel Booking Request Confirmed!</h1>
            <p>Dear {{name}},</p>
            <p>Jai Sadguru Dev Vandan! We have received your travel booking request for the following details:</p>
            <div class="details">
            <table border = "1" >
                <tr><th>BookingId</th><th>Date</th><th>Pickup Point</th><th>Dropoff Point</th>
                </tr>
                {{rajPravasContent}}

            </table>   
            </div>
            <div class="section">
                <h2>Standard Pickup Locations and Timings from Mumbai to Research Center:</h2>
                <ul>
                    <li>Dadar Swaminarayan Temple - 8:00 am</li>
                    <li>Amar Mahal - Chembur / Ghatkopar - 8:20 am</li>
                    <li>Mulund - Airoli Junction - 8:40 am</li>
                </ul>
            </div>

            <div class="section">
                <h2>Standard Pickup Location and Timing from Research Center to Mumbai:</h2>
                <ul>
                    <li>Reception Area at 1:00 pm</li>
                </ul>
            </div>

            <div class="steps">
                <h2>Next Steps</h2>
                <p>We will review your travel request and update the status on the portal.</p>
                <p>Please read the Raj Pravas guidelines carefully: <a class="link" href="https://drive.google.com/file/d/1kodGs34F8W3m8GHfm3bMzROaUGNoIVav/view?usp=sharing">Click here for guidelines</a></p>
                <p>You can view the status of your request under "View/Cancel My Booking" by <a class="link" href="http://datachef.in/sratrc/rajpravas/cancel_via_phone.php">clicking here</a>.</p>
            </div>

            <div class="steps">
                <h2>Payment Instructions</h2>
                <p>Once your travel booking status is <span class="highlight">Approved, pending payment confirmation</span>, please pay the amount shown on the screen under "View/Cancel My Booking" using the UPI ID <b>sratrc@ibl</b>. You can copy & paste the UPI ID (sratrc@ibl) in Google Pay, Amazon Pay, Paytm, PhonePe, FreeCharge, MobiKwik, etc. to make the payment.</p>
                <p>Post payment, please share a screenshot of the payment along with your booking ID with the Raj Pravas Team.</p>
            </div>

            <div class="steps">
                <h2>Travel Confirmation</h2>
                <p>Once your travel is confirmed, you can coordinate with Sandeep Driver at <b>+919769975704</b> only on the date of your travel.</p>
            </div>

            <p>Regards,<br>Raj Pravas Admin<br>Virag Shah (9769644960)<br>Siddhi Shah (9831632801)</p>
        </div>