 <div class="content">
            <h1>Room Booking Confirmed!</h1>
            <p>We are pleased to inform you that your booking for has been successfully confirmed. Here are the details of your booking:</p>
            <div class="details">
                <table border = "1" >
                <tr><th>BookingId</th><th>Checkin</th><th>Checkout</th></th>
                </tr>
                {{roomBookingContent}}

            </table>   
            </div>
          <p><a href='http://datachef.in/sratrc/rajsharan/guidelines/rc_guidelines.pdf' target='_blank'>Please Click Here to Read</a> the guidelines for your stay at Research Center We hope you have a spiritually blissful stay.</p>
            <p>If you have any questions or need further assistance, please feel free to contact us at <b>7875432613 / 9004273512</b></p>
        </div>